:root {
  --color-high-elevation: rgb(250, 224, 207);
  --color-low-elevation: rgb(158, 177, 142);
  --color-mid-elevation: rgb(208, 214, 181);
  --color-dark: rgb(66, 66, 66);
  --color-accent: rgb(108, 207, 246);
}

body {
  background-color: black;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}